* {
  font-family: "Inter", sans-serif;
}

.menu-box {
  height: 100%;
  background: $blue-3;
  padding: 20px 0;
}
.ivu-menu {
  background: $blue-3;
  @include font-style(24px, 700, 10%, 125%);
  a {
    display: block;
    width: 100%;
    text-align: center;
    color: $white01;
  }
}

//失效?
.ivu-menu-vertical .ivu-menu-item:hover,
.ivu-menu-vertical .ivu-menu-submenu-title:hover {
  color: $dark;
}
.ivu-menu-vertical .ivu-menu-submenu-title:hover {
  color: $dark;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item:hover {
  background: $blue-4;
}

.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
  background-color: $blue-3;
  color: $dark;
}

.ivu-menu-light.ivu-menu-vertical
  .ivu-menu-item-active:not(.ivu-menu-submenu):after {
  display: none;
}

#logo {
  display: block;
  height: 150px;
  margin-left: 40px;
  text-decoration: none;
  background-image: url(@/assets/image/header/back-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}
