* {
  font-family: "Inter", sans-serif;
}

.menu-box {
  height: 100%;
  background: $blue-3;
  padding: 20px 0;
}
.ivu-menu {
  height: 100%;
  background: $blue-3;
  color: $white01;
  @include font-style(24px, 700, 10%, 125%);
}

//失效?
.ivu-menu-vertical .ivu-menu-item:hover,
.ivu-menu-vertical .ivu-menu-submenu-title:hover {
  color: $dark;
}
.ivu-menu-vertical .ivu-menu-submenu-title:hover {
  color: $dark;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item:hover {
  background: $blue-4;
}

.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
  background-color: $blue-2;
  color: $dark;
}

/* 子菜單 4和 5 中的 ivu-icon-ios-arrow-down 圖示 */
// .ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) .ivu-menu-item[name="4"] .ivu-icon-ios-arrow-down:before,
// .ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) .ivu-menu-item[name="5"] .ivu-icon-ios-arrow-down:before {
//   content: "\f116";
// }

// .ivu-menu-light.ivu-menu-vertical .ivu-menu-item.ivu-menu-submenu .ivu-icon-ios-arrow-down:before,
// .ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active.ivu-menu-submenu .ivu-icon-ios-arrow-down:before {
//   content: none;
// }

#logo {
  display: block;
  height: 150px;
  margin-left: 40px;
  text-decoration: none;
  background-image: url(@/assets/image/header/back-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  // position:fixed;
  z-index:2;
  top: 0;
  left: 0;
}
